@{
    ViewData["Title"] = "Login | ";
}

<!-- Forma za Log in -->
<section class="row justify-content-md-center">

    <div class="mt-5 p-5 bg-primary text-white rounded-4 col-md-3">
        <h2 class="text-center"><b>Prijava</b></h2>
        <form asp-action="Login" asp-controller="Login">

            <div class="mb-3">
                <label for="usernamePolje" class="form-label">Korisničko ime:</label>
                <input class="form-control" type="text" id="usernamePolje" name="username">
            </div>

            <div class="mb-3">
                <label for="LozinkaPolje" class="form-label">Lozinka</label>
                <input id="lozinkaPolje" class="form-control" type="password" name="password">
            </div>

            <div class="mt-3 text-center">
                <button type="submit" class="btn btn-lg btn-primary mb-3" name="prijava">Prijavite se</button>
            </div>

            <!-- Obavestenje o greskama unosa -->
            @if (ViewData["Greska"] != null)
            {
                <div class="text-bg-danger text-center mb-2 p-2 rounded-4">
                    @ViewData["Greska"]
                </div>
            }
        </form>
    </div>

</section>