@{
    ViewData["Title"] = "";
}

<section class="container">

    <div class="row">

        <div class="col-md-12 mt-4">
            <h1 class="text-center display-5">Pretražite dostupne letove brzo i jednostavno!</h1>
        </div>

        @* Searchbar *@
        <div class="navbar bg-primary col-md-12 mt-2 mb-2">

            <div class="container-fluid justify-content-center">
                <form class="d-flex" asp-controller="Search" asp-action="Index" name="formaPretraga" id="formaPretraga">
                    <input class="form-control me-2" name="polazniAerodrom" type="search" placeholder="Polazni aerodrom" aria-label="PolazniAerodrom">
                    <input class="form-control me-2" name="dolazniAerodrom" type="search" placeholder="Dolazni aerodrom" aria-label="DolazniAerodrom">
                    <button type="submit" class="btn btn-primary" name="pretraga">Pretraži</button>
                </form>
            </div>
        </div>
    </div>
</section>

@* Parcijalni pogled sa promocijama *@
<partial name="Promocije" model="@ViewData["Promocije"]" />

@* Javascript *@
@section Scripts
{
    <script src="~/js/elementClickActions.js"></script>
}